@import '../colors';

.card-dialog {
  display: flex;
  height: 100%;
  background-color: $clr-card-bg;
  border-bottom: 1px solid $clr-card-border;
  transition-property: display;
  transition-duration: 1s;

  &__button {
    border: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0;
    margin: 0;
  }

  &__icon {
    color: $clr-card-bg;
    margin-right: 20px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: $clr-card-bg;
    text-shadow: 0 0 2px #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}