$clr-panel-bg: #f9f9f9;
$clr-panel-border: #b1b1b1;

$clr-content-bg: #f6f5f3;

$clr-card-bg: #ffffff;
$clr-card-border: #c7c7c7;

$clr-text-primary: #262626;
$clr-text-secondary: #8d8d8d;

$clr-menu-icon: #535353;

$clr-danger: #ed4022;
$clr-warning: #f8e038;
$clr-success: #7ac570;
$clr-active: #047bcf;