@keyframes turn-left {
  0% { right: 0; }
  100% { right: 300px; }
}

.card-to {

}

.card-to {
  position: relative;

  &-active {
    animation-name: turn-left;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  &__brief {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    text-align: left;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }

  &__dialog {
    position: absolute;
    display: block;
    height: 100%;
    width: 300px;
    top: 0;
    right: -300px;
    z-index: 1;
  }
}