#add-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.list-group {
    padding-top: 30px;
}
h4 {
    text-align: center;
}
.right {
    float: right;
    padding-top: 0px;
}
.time-width {
    max-width: 80px;
    text-align: center;
    font-size: 12px;
}