$panel-bg: #f9f9f9;
$panel-border: #b1b1b1;

$content-bg: #f6f5f3;

$card-bg: #ffffff;
$card-border: #c7c7c7;

$text-primary: #262626;
$text-secondary: #8d8d8d;
$text-light: #ffffff;

$menu-icon: #535353;

$color-danger: #ed4022;
$color-attention: #ed9022;
$color-warning: #f8e038;
$color-success: #7ac570;
$color-active: #047bcf;
