@import './colors';

.card-task {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-bottom: 1px solid $card-border;
  text-decoration: none;
  color: $text-primary;
  font-size: 12px;
  padding: 10px 100px 10px 55px;
  position: relative;

  &__title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__shop-address {

  }
  &__comment {

  }

  &__priority {
    position: absolute;
    font-size: 10px;
    right: 10px;
    bottom: 10px;
  }

  &__priority-icon {
    position: absolute;
    left: 15px;
    right: 10px;
  }
  &__date {
    color: $text-secondary;
    font-size: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 85px;
  }
}
