html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f5f3; }

.app-container {
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif; }
  .app-container .text-danger {
    color: #ed4022; }
  .app-container .text-warning {
    color: #f8e038; }
  .app-container .text-success {
    color: #7ac570; }
  .app-container .text-secondary {
    color: #8d8d8d; }
  .app-container .active {
    color: #047bcf; }

.top-panel {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  height: 50px;
  border-bottom: 1px solid #b1b1b1; }
  .top-panel__header {
    font-size: 20px; }
  .top-panel__filter {
    position: absolute;
    top: 10px;
    right: 15px; }
    .top-panel__filter .material-icons {
      font-size: 30px; }

.body-content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f6f5f3;
  padding-top: 50px; }
  .body-content__add-button {
    position: fixed;
    bottom: 80px;
    right: 15px;
    background-color: #f8e038;
    border: none;
    padding: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 5px #8d8d8d;
    z-index: 20; }
  .body-content .card-store {
    background-color: #ffffff;
    border-bottom: 1px solid #c7c7c7;
    position: relative;
    padding: 15px 30px 15px 50px; }
    .body-content .card-store:last-child {
      margin-bottom: 100px; }
    .body-content .card-store__title {
      font-weight: bold;
      display: flex;
      justify-content: space-between; }
    .body-content .card-store__date-time {
      font-weight: bold;
      font-size: 13px;
      text-align: right; }
    .body-content .card-store__address {
      color: #8d8d8d;
      font-size: 14px;
      margin: 10px 0; }
    .body-content .card-store__service {
      font-size: 14px; }
      .body-content .card-store__service-header {
        color: #535353; }
    .body-content .card-store__notify {
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 5; }
    .body-content .card-store__notify::before {
      content: '';
      display: block;
      width: 19px;
      height: 19px;
      background-color: #ffffff;
      position: absolute;
      top: 2px;
      left: 2px;
      z-index: -1;
      border-radius: 50%;
      box-shadow: 0 3px 5px #8d8d8d; }
    .body-content .card-store__more-arrow {
      position: absolute;
      top: 0;
      right: 10px;
      height: 100%;
      display: flex;
      align-items: center; }
      .body-content .card-store__more-arrow .material-icons {
        font-size: 15px;
        color: #8d8d8d; }

.bottom-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f9f9f9;
  border-top: 1px solid #b1b1b1;
  display: flex;
  justify-content: space-around;
  align-content: center;
  z-index: 20; }
  .bottom-panel__item {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: #535353;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    padding: 0; }
    .bottom-panel__item-title {
      font-size: 10px; }
    .active .bottom-panel__item-img::before {
      content: '';
      display: block;
      position: absolute;
      width: 24px;
      height: 3px;
      top: -5px;
      background-color: #047bcf; }

/*# sourceMappingURL=style-mobile.css.map */
